<%- include("./plantillas/head.ejs") %>
    <link rel="stylesheet" href="/css/mainCarrito.css">

<body>
    <%- include("./plantillas/nav.ejs") %>
    <%- include("./plantillas/barra_superior.ejs") %>
    <style>
        .formcantidad{
            border-bottom: 2px solid rgb(80, 80, 80);
        }
    </style>
    <main>
        <form action="/edit-cantidad-producto" class="formcantidad">
            <input type="text" name="nombre" placeholder="nombre" disabled>
            <div class="cantidad">
                <button name="boton_cant" value="-" id="b-"><i class="fa-solid fa-minus"></i></button>
                <input type="text" name="cant" id="cant" value="10">
                <button name="boton_cant" value="+" id="b+"><i class="fa-solid fa-plus"></i></button>
            </div>
            <input type="text" placeholder="precio" disabled>
            <input type="text" placeholder="total" disabled>
        </form>
        <div>
            <label for="total">TOTAL: </label>
            <input type="text" name="total" id="" placeholder="total">
        </div>
        <form action="/comprar-carrito" id="comprar-carrito">
            <button id="boton-comprar-carrito">COMPRAR</button>
        </form>



    </main>


<footer></footer>
</body>
<script>
    const bCant = document.getElementById("cant")
    const bmenos = document.getElementById("b-")
    const bmas = document.getElementById("b+")
    let valorInicial = bCant.value
    bCant.addEventListener("input", ()=>{
        
        if (/^\+?\d+$/.test(valorInicial) == false){
            valorInicial = bCant.value
        }
    })

    bmenos.addEventListener("click", ()=>{
        bCant.value = parseInt(bCant.value) - 1
    })
    bmas.addEventListener("click", ()=>{
        bCant.value = parseInt(bCant.value) + 1
    })

 
</script>
<script src="/js/img_produc_carrito.js"></script>
<%- include("./plantillas/scripts_generales.ejs") %>
</html>
<!-- footer -->



