<!--  -->
<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/barra_arriba.css">
  <title>Titulo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /></head>
  <!-- hasta aquí va head.ejs -->

<body>
    <!--  -->
    <nav id="menu">
        <i class="fa-solid fa-bars" id="menu_ico"></i>
        <ul>
            <div id="contenedor_img_usuario">
                <img id="img_usuario" src="img/ram.webp" alt="">
            </div>                
            <li><a href="https://google.com"><i class="fa-solid fa-user"></i>PERFIL</a></li>
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i>CARRITO</a></li>
            <li><a href=""><i class="fa-solid fa-bag-shopping"></i>COMPRAS</a></li>
            <li><a href=""><i class="fa-brands fa-elementor"></i>MIS PRODUCTOS</a></li>
            <li><a href=""><i class="fa-solid fa-location-dot"></i>DIRECCIONES</a></li>
            <li><a href=""><i class="fa-solid fa-address-card"></i>TARJETAS</a></li>
            <li><a href=""><i class="fa-solid fa-bell"></i>NOTIFICACIONES</a></li>
            <li><a href=""><i class="fa-solid fa-hammer"></i> ADMINISTRAR SOLICITUDES </a></li>
            <li><a href=""><i class="fa-solid fa-gear"></i>AJUSTES</a></li>
            <li><a href=""><i class="fa-solid fa-right-from-bracket"></i>CERRAR SESIÓN</a></li>
        </ul>
    </nav>
    <div id="barra_arriba">
        <a href="/inicio.html" id="cyberforge">CyberForge <img src="img/logo.png" alt="" id="logo"></a> 
        <form action="/buscar" id="buscar" method="post">
            <input type="text" placeholder="Buscar" name="busqueda">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <!-- nav.ejs -->

    <main>
        <form action="/editar-direccion">
            <label for="estado">Estado:</label>
            <input type="text" name="estado" disabled class="inputs">

            <label for="ciudad">Ciudad:</label>
            <input type="text" name="ciudad" disabled class="inputs">

            <label for="cp">Código Postal:</label>
            <input type="number" min="5" max="5" name="cp" disabled class="inputs">

            <label for="calle">calle</label>
            <input type="text" name="calle" disabled class="inputs">

            <label for="n_exterior">NO Exterior:</label>
            <input type="text" name="n_exterior" disabled class="inputs">

            <label for="n_interior">NO interior:</label>
            <input type="text" name="n_interior" disabled class="inputs">

            <label for="telefono">Telefono</label>
            <input type="number" min="10" max="10" name="telefono" disabled class="inputs">

            <label for="quien_recibe">¿Quién recibe?</label>
            <input type="text" name="text" disabled class="inputs">

            <button name="accion" value="eliminar">ELIMINAR</button>
            <button type="button" id="editar" class="editar" value="editar">EDITAR</button>
            <button name="accion" id="guardar" value="guardar" disabled>GUARDAR</button>
        </form>
        <button><a href="">AGREGAR NUEVA DIRECCIÓN</a></button>

    </main>


<!--  -->
<!--  -->
<script src="/js/img_usuario.js"></script>
<!-- script_generales -->

<footer></footer>
</body>
<script>
    const editar = document.getElementById("editar")
    const guardar = document.getElementById("guardar")
    const inputs = document.getElementsByClassName("inputs")

    editar.addEventListener("click", ()=>{

        
        if (editar.value == "editar"){
            guardar.disabled = false;

            editar.innerText = "CANCELAR"
            editar.classList = "cancelar"
            editar.value = "cancelar"
            Array.from(inputs).forEach((elem, i) => {
                elem.disabled = false
            });
        }
        else if (editar.value == "cancelar"){
            guardar.disabled = true;

            editar.innerText = "EDITAR"
            editar.classList = "editar"
            editar.value = "editar"
            Array.from(inputs).forEach((elem, i) => {
                elem.disabled = true
            });
        }
    })
</script>
<script src="/js/menu.js"></script>
<script src="/js/direcciones.js"></script>

</html>
<!-- footer -->



