<%- include("./plantillas/head.ejs") %>

<body>
    <%- include("./plantillas/nav.ejs") %>
    <%- include("./plantillas/barra_superior.ejs") %>

    <main>
      
    </main>

<footer></footer>
</body>
    <%- include("./plantillas/scripts_generales.ejs") %>
</html>
<!-- footer -->



