<div id="barra_arriba">
    <a href="/" id="cyberforge">CyberForge <img src="img/logo.png" alt="" id="logo"></a> 
    <form action="/buscar" id="buscar" method="post">
        <input type="text" placeholder="Buscar" name="busqueda">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>