<nav id="menu_principal">
    <ul id="opciones">
        <li> <a href="/">
            CyberForge <img src="/logo.png" alt="" id="logo">
        </a> </li>
        <li><form action="/buscar" id="buscar" method="post">
            <input type="text" placeholder="Buscar" name="busqueda">
            <button type="submit">Buscar</button>
        </form></li>
        <div>
            <LI class="opcines_seleccionables"><a href="/mis_compras">MIS COMPRAS</a></LI>
            <li class="opcines_seleccionables"><a href="/carrito">CARRITO</a></li>
            <li class="opcines_seleccionables"><a href="/perfil">PERFIL</a></li>
        </div>

    </ul>
</nav>