<nav id="menu">
    <i class="fa-solid fa-bars" id="menu_ico"></i>
    <ul>
        <% if (datos.usuario){%>
            <div id="contenedor_img_usuario">
                <% if (datos.url_imagen === ""){%>
                    <img id="img_usuario" src="/img/perfil-de-usuario.webp" alt="">
                <%}else{%>
                    <img id="img_usuario" src="<%= datos.url_imagen %>" alt="">
                <%}%>
                
            </div>                
            <li><a href="/perfil"><i class="fa-solid fa-user"></i>PERFIL</a></li>
            <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i>CARRITO</a></li>
            <li><a href="/compras"><i class="fa-solid fa-bag-shopping"></i>COMPRAS</a></li>
            <li><a href="/mis-productos"><i class="fa-brands fa-elementor"></i>MIS PRODUCTOS</a></li>
            <li><a href="/direcciones"><i class="fa-solid fa-location-dot"></i>DIRECCIONES</a></li>
            <li><a href="/tarjetas"><i class="fa-solid fa-address-card"></i>TARJETAS</a></li>
            <li><a href="/notificaciones"><i class="fa-solid fa-bell"></i>NOTIFICACIONES</a></li>
            <% if (!datos.usuario==="normal"){%>
                            <li><a href="/admin-usuarios"><i class="fa-solid fa-users"></i> ADMINISTRAR USUARIOS </a></li>

            <%}%>
            <li><a href="/cerrar-sesion"><i class="fa-solid fa-right-from-bracket"></i>CERRAR SESIÓN</a></li>
        <%} else{%>
            <li><a href="/iniciar-sesion">INICIA SESIÓN</a></li>
            
            <li><a href="/crear-cuenta">CREA UNA CUENTA</a></li>
        <% } %>
    </ul>
</nav>