<%- include("../plantillas/head.ejs") %>
</head>
<body>
    <%- include("../plantillas/nav.ejs") %>
    <form action="/agregar-producto" method="post">
        <input type="text" placeholder="Nombre" name="nombrep">
        <textarea name="" id="" cols="30" rows="10" placeholder="Descripción" name="descripcionp"></textarea>
        <input type="number" placeholder="Precio" name="preciop">
        <input type="text" placeholder="Imagen URL" name="imgurl">
        <input type="text" placeholder="Categorias" name="categoriasp">
        <input type="number" placeholder="Cantidad en stock" name="stock">

        <button type="submit">Enviar</button>
    </form>



    <%- include("../plantillas/footer.ejs") %>


