<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREAR CUENTA</title>
    <link rel="stylesheet" href="/sesion.css">
</head>
<body>
    <form action="/crear-cuenta" method="post">
        <div class="form-header">
            <h1>Crear Cuenta</h1>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre/s</label>
            <input type="text" name="nombre" required/>
        </div>
        <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" required/>
        </div>
        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" placeholder="@" required/>
        </div>
        <div class="form-group">
            <label for="correo">Correo</label>
            <input type="text" name="correo" required/>
        </div>
        <div class="form-group form-contra">
            <label for="contra">Contrase침a</label>
            <input type="text" name="contra" required placeholder="Contrase침a"/>
            <input type="text" name="confirmarcontra" required placeholder="Confirmar Contrase침a"/>
        </div>

        <div class="form-group">
            <label for="urlimagen">URL Imagen</label>
            <input type="text" name="urlimagen"/>
        </div>

        <p id="advertencia">
        </p>

        
        <button type="submit">CREAR CUENTA</button>
        <p id="anuncio">Ya tienes una cuenta. <a href="/iniciar-sesion"> Inicia sesi칩</a>.</p>
    </form>
</body>
</html>