<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREAR CUENTA</title>
</head>
<body>
    <form action="/crear-cuenta" method="post">
        <input type="text" placeholder="Nombre" name="cnombre">
        <input type="text" placeholder="1er apellido" name="c1apelllido">
        <input type="text" placeholder="2do apellido" name="c2apellido">
        <input type="email" placeholder="Correo" name="cemail">
        <input type="password" placeholder="Contraseña" name="ccontra">
        <input type="text" placeholder="URL imagen" name="curlimagen">
        <button type="submit">CREAR CUENTA</button>
    </form>
</body>
</html>