<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREAR CUENTA</title>
    <link rel="stylesheet" href="/sesion.css">
</head>
<body>
    <form action="/crear-cuenta" method="post">
        <div class="form-header">
            <h1>Crear Cuenta</h1>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre/s</label>
            <input type="text" name="nombre" id="nombre" required/>
        </div>
        <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" id="apellidos" required/>
        </div>
        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" required id="usuario"/>
        </div>
        <div class="form-group">
            <label for="correo">Correo</label>
            <input type="email" name="correo" id="correo" required placeholder="@gmail.com"/>
        </div>
        <div class="form-group form-contra">
            <label for="contra">Contrase침a</label>
            <input type="password" name="contra" required placeholder="Contrase침a" id="contra1"/>
            <input type="password" name="confirmarcontra" required placeholder="Confirmar Contrase침a" id="contra2" />
        </div>

        <!-- <div class="form-group">
            <label for="urlimagen">URL Imagen</label>
            <input type="text" name="urlimagen"/>
        </div> -->

        <p id="advertencia">
            <% if (aviso){%>
                <%= "Usuario o correo en uso" %>
            <%} %>
        </p>
        
        <button type="submit" id="botonSubmit">CREAR CUENTA</button>
        <p id="anuncio">Ya tienes una cuenta. <a href="/iniciar-sesion"> Inicia sesi칩n</a>.</p>
    </form>
</body>
<script src="/verificar.js"></script>
</html>