<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREAR CUENTA</title>
    <link rel="stylesheet" href="/sesion.css">
</head>
<body>
    <form action="/iniciar-sesion" method="post">
        <div class="form-header">
            <h1>INICIAR SESIÓN</h1>
        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" required/>
        </div>
        <div class="form-group">
            <label for="contra">Contraseña</label>
            <input type="text" name="contra"/>
        </div>

        <p id="advertencia">
            <% if (aviso){%>
                <%= "Usuario o contraseña incorrectos" %>
            <%} %>
        </p>

        
        <button type="submit">INICIAR SESIÓN</button>
        <p id="anuncio">No tienes cuenta. <a href="/crear-cuenta"> Crea una</a>.</p>
    </form>
</body>
</html>